/* add your CSS here */

.body{
    border: 1px solid rgb(235, 230, 230);
    box-shadow: 3px 3px  rgb(235, 230, 230);
    width: 340px;
  
}

.tolling{
    font-size: 50px;
    padding-left: 10px;
}

img{
    width: 300px;
    padding-left: 20px;
  	padding right: 20px;
    padding-bottom: 1%;
}

.wordcont{
    border: 1px solid rgb(235, 230, 230);
    margin: 1%;
    padding: 1% 3% 2% 3%;
}

.fact{
	font-style: italic;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.features{
    font-size: large;
    font-weight: bold;
}